.settings-controllers .card-body-settings {
    overflow: auto;
    padding: 0;
}

button.domains-settings {
    background-color: rgba(0,0,0,0);
    color: #0d6efd;
    border: 0;
}

.settings-controllers .card-body-settings table {
    margin: 1rem;
    width: calc(100% - 2rem);
    min-height: 300px;
}

.settings-controllers .card-body-settings thead th{
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 1);
}

.settings-controllers .card-body-settings thead .th-icon {
    width: 32px;
}

.settings-controllers .card-body-settings thead .th-actions {
    width: 32px;
}

.settings-controllers .card-body-settings tbody td.icon {
    color: #0b5ed7;
}

.settings-controllers .card-body-settings tbody td.icon .is-link {
    color: rgba(255, 124, 13, 1);
}

.settings-controllers .card-body-settings tfoot td {
    position: sticky;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
}

.settings-controllers .card-body-settings tfoot .dropdown {
    float: left;
}

.settings-controllers .card-body-settings tfoot .page {
    margin-right: 0.5rem;
}

.settings-controllers .card-body-settings td i.fa-file {
    margin-right: 4px;
}

.settings-controllers .card-body-settings td i.fa-folder {
}

