section[name="main-content"].settings-controllers tfoot td {
    vertical-align: middle;
}


section[name="main-content"].settings-controllers tfoot i {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

section[name="main-content"].settings-controllers tfoot i.disabled {
    color: rgba(200, 200, 200, 1);
}

section[name="main-content"].settings-controllers .bg-progress-bar {
    background-color: #e9ecef;
}