section[name="main-content"] form {
    width: 100%;
    height: 100%;
}

section[name="main-content"] form .section-form-component-menu {
    width: 100%;
    height: 40px;
    background: #f6f6f6;
}

section[name="main-content"] form .section-form-component-field {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
}

section[name="main-content"] .card-body-edit {
    padding: 0;
}

section[name="main-content"] pre[name="node.content"] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 14px;
    margin: 0;
}