section[name="main"] {
    width: 100%;
    height: calc(100% - 56px);
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 56px;
}

section[name="main-navigation"] {
    float: left;
    height: 100%;
    overflow: auto;
}

section[name="main-navigation"].col-12 {
    height: auto;
}

section[name="main-navigation"] .active {
    border-bottom: 1px solid rgba(255, 124, 13, 1);
}

section[name="main-content"] {
    float: left;
    height: calc(100% - 10px);
    overflow: auto;
}

section[name="main-content"].col-12 {
    height: auto;
}

section[name="main-content"] .nav .fa-window-close {
    margin-left: 10px;
    color: rgba(200, 0, 0, 1);
}

section[name="main-content"] .nav .fa-window-close:hover {
    color: rgba(255, 0, 0, 1);
}

@media (min-width: 768px) {
    section[name="main-navigation"].col-md-2 {
        height: calc(100% - 20px);
    }

    section[name="main-content"].col-md-10 {
        height: calc(100% - 20px);
    }
}

td.status span {
    display: block;
    height: 25px;
    padding: 5px;
}

td.status .green {
    background-color: forestgreen;
    color: rgba(255, 255, 255, 1);
}

td.status .red {
    background-color: firebrick;
    color: rgba(255, 255, 255, 1);
}

td.status .purple {
    background-color: purple;
    color: rgba(255, 255, 255, 1);
}

a {
    cursor: pointer;
}