section[name="main"] {
    width: 100%;
    height: calc(100% - 56px);
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 56px;
}

section[name="main-navigation"] {
    float: left;
    height: 100%;
    overflow: auto;
}

section[name="main-navigation"] col-12 {
    height: auto;
}

section[name="main-navigation"] .active {
    border-bottom: 1px solid rgba(255, 124, 13, 1);
}

section[name="main-content"] {
    float: left;
    height: calc(100% - 10px);
    overflow: auto;
}

section[name="main-content"] col-12 {
    height: auto;
}

a {
    cursor: pointer;
}