.dialog-upload {
    left: 33%;
    width: 34%;
    right: 33%;
    height: 360px;
    top: calc(50% - 180px);
}

.dialog-upload .body {
    height: 280px;
    background: rgba(255, 255, 255, 1);
    overflow: auto;
}

.dialog-upload .body .dropzone {
    border: 0;
}

.dialog-upload .body .dropzone .dz-message {
    cursor: default;
}

.dialog-error-upload {
    left: 33%;
    width: 34%;
    right: 33%;
    height: 250px;
    top: calc(50% - 125px);
}

.dialog-error-upload .body {
    height: 170px;
    background: rgba(255, 255, 255, 1);
    overflow: auto;
}