.dialog-upload {
    left: 33%;
    width: 34%;
    right: 33%;
    height: 350px;
    top: calc(50% - 175px);
}

.dialog-upload .body {
    height: 270px;
    background: rgba(255, 255, 255, 1);
    overflow: auto;
}

.dialog-upload .body .dropzone {
    border: 0;
    overflow: auto;
}

.dialog-error-upload {
    left: 33%;
    width: 34%;
    right: 33%;
    height: 250px;
    top: calc(50% - 125px);
}

.dialog-error-upload .body {
    height: 170px;
    background: rgba(255, 255, 255, 1);
    overflow: auto;
}