.settings-server-settings .card-body-settings {
    overflow: auto;
    padding: 0;
}

.settings-server-settings .card-body-settings table {
    margin: 1rem;
}

.settings-server-settings .card-body-settings thead th{
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 1);
}

.settings-server-settings .card-body-settings tfoot td {
    position: sticky;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
}

