.settings-server-settings .card-body-settings {
    overflow: auto;
}

.settings-server-settings .card-body-settings thead th{
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0);
}

.settings-server-settings .card-body-settings tfoot td {
    position: sticky;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
}

