.settings-server-settings .card-body-settings {
    overflow: auto;
    padding: 0;
}

.settings-server-settings .card-body-settings table {
    margin: 1rem;
    width: calc(100% - 2rem);
}

.settings-server-settings .card-body-settings thead th{
    position: sticky;
    top: 0;
    background-color: var(--bs-table-bg);
}

.settings-server-settings .card-body-settings tfoot td {
    position: sticky;
    bottom: 0;
    background-color: var(--bs-table-bg);
}

