.settings-server-settings .card-body-settings {
    overflow: auto;
    padding: 0;
}

.settings-server-settings .card-body-settings table {
    margin: 1rem;
    width: calc(100% - 2rem);
}

.settings-server-settings .card-body-settings thead th{
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 1);
}

.settings-server-settings .card-body-settings tfoot td {
    position: sticky;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
}

.settings-server-settings .card-body-settings tfoot .dropdown {
    float: left;
}

.settings-server-settings .card-body-settings td.actions i.fa-file {
    margin-right: calc(1rem + 4px);
}

.settings-server-settings .card-body-settings td.actions i.fa-folder {
    margin-right: 1rem;
}

