section[name="main-content"].settings-views tfoot td {
    vertical-align: middle;
}


section[name="main-content"].settings-views tfoot i {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

section[name="main-content"].settings-views tfoot i.disabled {
    color: rgba(200, 200, 200, 1);
}

section[name="main-content"].settings-views .bg-progress-bar {
    background-color: #e9ecef;
}

section[name="main-content"].settings-views .card-body-view hr {
    margin: 0;
    margin-top: 1rem;
}