.spinner {
    margin: 100px auto;
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #0b5ed7;
    height: 100%;
    width: 8px;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    animation-delay: -1.1s;
}

.spinner .rect3 {
    animation-delay: -1.0s;
}

.spinner .rect4 {
    animation-delay: -0.9s;
}

.spinner .rect5 {
    animation-delay: -0.8s;
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
   }
}